body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #eceff1;
    height: 100%;
    position: relative;
}

header {
    background-color: #2196f3;
    text-align: center;
    height: 80px;
    width: 100%;
    margin: auto;
    margin-left: 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 2px 10px gray;
}

#top-nav {
    color: white;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    color: white;
    margin-left: -40px;
}

p > a {
    color: #2196f3;
}

li > a:hover {
    color: white;
}
/****** Hamburger Menu *****/
#hamburger-menu {
    display: inline;
    cursor: pointer;
    z-index: 1;
    width: 35px;
    margin-top: 20px;
    margin-left: 5px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: red;
    margin-left: 280px;
    margin-top: -9px;
    position: fixed;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: red;
    margin-left: 280px;
    margin-top: -4px;
    position: fixed;
}

#menu {
    background-color: #f9a825;
    width: 0px;
    height: 100%;
    margin-top: -79px;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    list-style-type: none;
    box-shadow: 6px 6px solid black;
}

#menu > li {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    border-bottom: 1px solid white;
    padding-left: 30px;
    padding-right: 10px;
    transition: 0.3s;
}

#menu > li:hover {
    cursor: pointer;
    background-color: #2196f3;
    border-left: 5px solid #ffff00;
    transition: 0.3s;
}
/***********************************************************/
#main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h2 {
    text-align: center;
}

#enter-button {
    margin-left: auto;
    margin-right: auto;
    border: none;
    height: 50px;
    font-size: 20px;
    color: black;
    box-shadow: 1px 3px 3px gray;
    background-color: #2196f3;
    transition: 0.3s;
    border-radius: 5px;
}

#enter-button > a {
    color: white;
}

#enter-button:hover {
    background-color: #f9a825;
    transition: 0.3s;
    font-size: 25px;
    height: 55px;
}

#welcome {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    font-size: 20px;
    max-width: 800px;
    background-color: white;
    box-shadow: 1px 3px 3px gray;
    padding: 10px;
}

/****** Class Page Flex Container ******/
#container {
    display: flex;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    max-width: 800px;
}

#box {
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 15px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px gray;
    background-color: #f9a825;
    color: white;
    transition: 0.3s;
}

#box:hover {
    background-color: #2196f3;
    transition: 0.3s;
    box-shadow: 2px 4px 4px 2px gray;
    font-size: 28px;
}

#class-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.first-grade, .second-grade, .third-grade, .fourth-grade, .fifth-grade, .sixth-grade {
    display: none;
    height: auto;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    max-width: 800px;
}

#back-button {
    display: none;
    margin: 20px;
    width: 110px;
    height: 110px;
    font-size: 50px;
    border-radius: 15px;
    background-color: #2196f3;
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 1px 1px gray;
}

#back-button:hover {
    background-color: #f9a825;
    font-size: 68px;
    transition: 0.3s;
    box-shadow: 2px 4px 4px 2px gray;
}

#back-button:focus {
    outline: 0;
}

#wrong-password {
    font-size: 24px;
    color: red;
    text-align: center;
}

@media screen and (max-width: 800px) {
    #welcome {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 600px) {
    #enter-button {
        font-size: 18px;
    }

    #enter-button:hover {
        font-size: 18px;
    }
    
    #box {
        width: 140px;
        height: 140px;
    }

    #box:hover {
        width: 160px;
        height: 160px;
    }

    #back-button {
        width: 75px;
        height: 75px;
    }
}

/****** Classroom Pages *******/
#top-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#show-content {
    margin-right: auto;
    margin-left: auto;
    border: none;
    font-size: 20px;
    height: 50px;
    color: white;
    box-shadow: 1px 3px 3px gray;
    background-color: #2196f3;
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
}

#show-content:hover {
    background-color: #f9a825;
    font-size: 26px;
}

#card-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

#card {
    max-width: 800px;
    height: 100px;
    background-color: #2196f3;
    color: white;
    margin: 20px;
    box-shadow: 3px 6px 6px gray;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#card:hover {
    cursor: pointer;
    background-color: #f9a825;
    transition: 0.3s;
    box-shadow: 6px 12px 12px gray;
    font-size: 36px;
}

/****** Modules ******/
#module {
    max-width: 800px;
    background-color: white;
    margin: 20px;
    margin-top: -15px;
    box-shadow: 3px 6px 6px gray;
    transition: 0.3s;
    text-align: center;
    transition: 0.3s;
}
.module-1, .module-2, .module-3, .module-4, .module-5, .module-6 {
    display: none;
    height: 600px;
}

/****** Footer ******/
#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 60px;
    background-color: #1565c0;
    text-align: center;
    justify-content: center;
}

#footer > a{
    color: white;
}